h1{
    color: white;
    font-size:50px;
    font-family:helvetica;
    text-align:center;
}
#grad{
    background-color: #e6baab;
    border-style: double;
    border-width: 10px;
    padding: 40px;
}
div{
    color:white;
    background-color:#d9c7c1;
    padding:15px;
    font-family: 'Gill Sans MT' ;
    font-size:20px;
    text-align: center;
    line-height:1.8;
    
}
#img1{
    width:35px;
    height:36px;
    text-align: center;
    
}

#descripción{
    color:black;
    background-color:#f1e5e3;
    font-size:20px;
    font-family: 'Gill Sans MT';
    text-align: justify ;
    line-height:1.8;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    
}
h2{
    color:white;
    background-color:#d9c7c1;
    padding:15px;
    font-family: arial;
    font-size:25px;
    text-align: center;
}
ul{ 
    color:black;
    font-size: 18px;
    font-family:'Gill Sans MT';
    line-height:1.8;
}
    
p{
    text-align: center;
    float: center;
    padding: auto;
    background-size: 100px;
    word-spacing: 10px;
   
}
table{
    border-collapse:collapse;
    width:100%;
    font-family:'Gill Sans MT';
}
th,td{
   text-align: center;
   padding:10px;
}

th{
    background-color: #afd1ba;
    color:white;
    font-family:'Gill Sans MT';
    font-size: 20px;
}


    
